<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>My Private Notes</title>
    <script src="http://www.myersdaily.org/joseph/javascript/md5.js"></script>
  </head>

  <body>
    <h1>My Private Notes</h1>

    <h2>Login</h2>
    <form method="POST" name="loginform" onsubmit="SubmitForm();">
      {% csrf_token %}
      
      <p>
        <label for="id_username">Username:</label> 
        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
      </p>
      
      <p>
        <label for="id_password">Password:</label> 
        <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
      </p>

      <button type="submit">Login</button>
    </form>

    <script>
      function SubmitForm() {
        var username = document.loginform.username.value
        document.loginform.username.value = md5(username)
        return true;
      }
    </script>

  </body>
</html>